* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #85bdbf;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
}
main {
  max-width: 100rem;
}
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: #01161e solid 2px;
  background-color: black;
  height: 5rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(1, 22, 30, 1) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.nome-header {
  align-items: center;
  display: flex;
  margin: 0 1rem;
  color: #eff6e0;
  font-size: 15px;
}

.offcanvas-header {
  background-color: #124559;
}
.offcanvas-body {
  background-color: #124559;
  color: #eff6e0;
  font-family: "Playfair Display", serif;
  padding-top: 10rem;
}
.navbar-toggler {
  margin-top: 0.6rem;
  margin-right: 1rem;
  width: 5rem;
}
.nav-link {
  font-size: 25px;
  color: #eff6e0;
}
.offcanvas-title {
  color: #eff6e0;
  font-size: 30px;
}

.description {
  display: flex;
  background-color: #aec3b0;
  height: 46rem;
  border-bottom: #01161e solid 2px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(0, 0, 0, 0.7847514005602241) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.photo {
  margin: 0;
  padding: 0;
  width: 30rem;
}
.my-photo {
  width: 28rem;
  border-radius: 50%;
  margin-top: 6rem;
  margin-left: 20rem;
}
.name {
  color: black;
  width: 31rem;

  align-items: center;
  padding-top: 18rem;
  padding-left: 19rem;
  margin-left: 0;
}
.name h1 {
  font-size: 40px;
  width: 19rem;
}
.name h4 {
  font-size: 15px;
}

.projects {
  display: flex;
  background-color: #598392;
  border-bottom: #01161e solid 2px;
  height: 50rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(89, 131, 146, 1) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.my-project {
  margin: 1rem 0 0 1rem;

  font-size: 30px;
  color: #eff6e0;
}
.historic-projects {
  width: 20rem;
  height: 20rem;
  display: flex;

  justify-content: space-between;
  padding: 0 19rem;
  margin-top: 15rem;
  margin-left: 1rem;
  align-items: center;
  gap: 10px;
}
.itens {
  border: #040f0f solid;
  width: 20rem;
  height: 10rem;
  border-radius: 50px;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  display: flex;
}
.about {
  display: flex;
  background-color: #124559;
  border-bottom: #01161e solid 2px;
  height: 50rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(18, 69, 89, 1) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.about-me .text {
  font-size: 40px;
  width: 13rem;

  color: #eff6e0;
  margin: 2rem 0 0 2rem;
}
.my-description {
  font-size: 22px;
  color: #eff6e0;
  height: 20rem;
  padding: 10rem 20rem;
  width: 80rem;
}
.skills {
  background-color: #eff6e0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 91rem;
  margin-top: 15rem;
  margin-left: 4rem;
  color: #01161e;
}
.images {
  width: 100px;
  height: 100px;
}
.contact-links {
  background-color: #01161e;
  height: 46rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(1, 22, 30, 1) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.contact-text {
  color: #eff6e0;
  font-size: 25px;
  padding: 2rem 2rem;
}
.logos {
  height: 20rem;
  padding: 12rem;
  width: 90rem;
  padding-right: 0;

  padding-left: 31rem;
}

.social-logo {
  width: 9rem;
  height: 10rem;
  border-radius: 50%;
  gap: 30px;
}
.social-logo:hover {
  border: 10px solid #124559;
  transition: 0.3s;
}

.div-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: #01161e solid 2px;
  padding-right: 2rem;
  padding-left: 2rem;
  color: #eff6e0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.46262254901960786) 19%,
    rgba(1, 22, 30, 1) 69%,
    rgba(0, 0, 0, 1) 99%
  );
}
.top {
  text-decoration: none;
  color: #eff6e0;
}
.top:hover {
  color: #598392;
  transition: 0.3s;
}

@media (max-width: 1024px) {
  main {
    width: 64rem;
  }
  .description {
    height: 52rem;
  }
  .my-photo {
    margin-left: 10rem;
    margin-top: 8rem;
  }
  .name {
    padding-left: 10rem;
    padding-top: 18rem;
  }
  .projects {
    height: 54.2rem;
  }
  .about {
    height: 54.2rem;
  }
  .skills {
    width: 55rem;
    height: 7rem;
    margin-top: 20rem;
  }
  .skills h1 {
    font-size: 2rem;
  }
  .images {
    width: 5rem;
    height: 5rem;
  }
  .my-description {
    width: 60rem;
    font-size: 1.5rem;
    padding-left: 15rem;
  }
  .contact-links {
    height: 51.2rem;
  }
  .logos {
    padding-left: 20rem;
    padding-right: 0;
    width: 40rem;
  }
}

@media (max-width: 768px) {
  main {
    width: 66rem;
  }
  .header {
    height: 7rem;
  }
  .nome-header h1 {
    font-size: 3rem;
  }
  .navbar-toggler {
    margin-top: 0.6rem;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
  }
  .my-photo {
    margin-top: 14rem;
    width: 30rem;
    margin-left: 8rem;
  }
  .name {
    padding-left: 10rem;
    padding-top: 26rem;
  }
  .name h1 {
    font-size: 3rem;
    width: 23rem;
  }
  .description {
    height: 65rem;
  }
  .name h4 {
    font-size: 1.5rem;
    width: 18rem;
  }
  .projects {
    height: 73rem;
  }
  .historic-projects {
    padding-left: 8rem;
    width: 60rem;
    margin-top: 15rem;
    margin-right: 0;
    padding-right: 0;
  }
  .itens {
    width: 35rem;
  }
  .about {
    height: 73rem;
  }
  .skills {
    width: 58rem;
    margin-top: 39rem;
  }
  .my-description {
    width: 57rem;
    font-size: 2rem;
  }
  .contact-links {
    height: 70rem;
  }
  .logos {
    padding-left: 18rem;
    padding-top: 20rem;
    width: 0rem;
    padding-right: 0;
  }
}
@media (max-width: 425px) {
  .header {
    height: 10rem;
  }
  .nome-header h1 {
    font-size: 4rem;
  }
  .description {
    display: block;
  }
  .navbar-toggler {
    margin-top: 0.6rem;
    margin-right: 1rem;
    width: 10rem;
    height: 8rem;
  }
  .nav-link {
    margin-top: 5rem;
    font-size: 3rem;
    color: #eff6e0;
  }
  .btn-close {
    font-size: 3rem;
  }
  .offcanvas-title {
    color: #eff6e0;
    font-size: 3rem;
  }
  .my-photo {
    margin-top: 12rem;
    width: 35rem;
    margin-left: 17rem;
  }

  .name h1 {
    font-size: 6rem;
    width: 46rem;
  }
  .name h4 {
    font-size: 2.5rem;
    width: 38rem;
    padding-left: 8rem;
  }
  main {
    width: 64rem;
  }

  .skills {
    width: 57rem;
    margin-top: 75rem;
  }
  .logos {
    width: 0rem;
    padding-left: 4rem;
    padding-top: 40rem;
  }
  .social-logo {
    width: 13rem;
    height: 13rem;
  }
  .name {
    padding-left: 13rem;
    padding-top: 3rem;
  }
  .description {
    height: 112rem;
  }
  .my-description {
    font-size: 3rem;
    padding-left: 16rem;
    padding-top: 20rem;
    width: 53rem;
  }
  .projects {
    height: 131.3rem;
  }
  .my-project .prj {
    font-size: 5rem;
  }
  .historic-projects {
    display: block;
    padding-left: 3rem;
  }
  .itens {
    height: 20rem;
  }
  .about {
    height: 131.2rem;
  }
  .about-me .text {
    font-size: 5rem;
    width: 25rem;
  }
  .contact-links {
    height: 129rem;
  }
  .contact-text h1 {
    font-size: 5rem;
  }
  .div-footer h3 {
    font-size: 3rem;
  }
  .div-footer h2 {
    font-size: 3rem;
  }
}
@media (max-width: 375px) {
  .nav-link {
    margin-top: 5rem;
    font-size: 3rem;
    color: #eff6e0;
  }
  .btn-close {
    font-size: 3rem;
  }
  .offcanvas-title {
    color: #eff6e0;
    font-size: 3rem;
  }
  .header {
    height: 10rem;
  }
  main {
    width: 64rem;
  }
  .skills {
    width: 56rem;
    margin-top: 78rem;
  }
  .skills h1 {
    font-size: 2rem;
  }
  .logos {
    width: 1rem;
    padding-left: 0;
    display: flex;
    padding-top: 50rem;
  }
  .social-logo {
    width: 12rem;
    height: 12rem;
  }
  .name {
    padding-left: 0;
  }
  .description {
    height: 116rem;
    display: block;
  }
  .my-photo {
    margin-top: 20rem;
    width: 40rem;
    margin-left: 14rem;
  }
  .name {
    padding-left: 18rem;
    padding-top: 2rem;
  }
  .name h1 {
    font-size: 8rem;
  }
  .name h4 {
    font-size: 3rem;
    width: 36rem;
  }
  .nome-header h1 {
    font-size: 5rem;
  }
  .projects {
    height: 147rem;
  }
  .historic-projects {
    width: 50rem;
    display: block;
    padding-left: 5rem;
  }
  .itens {
    height: 30rem;
  }
  .about {
    height: 126rem;
  }
  .about-me .text {
    font-size: 5rem;
    width: 25rem;
  }
  .my-description {
    width: 40rem;
    padding-left: 8rem;
    font-size: 3rem;
  }
  .contact-text h1 {
    font-size: 5rem;
  }
  .contact-links {
    height: 123rem;
  }
  .navbar-toggler {
    margin-top: 0.6rem;
    margin-right: 1rem;
    width: 10rem;
    height: 8rem;
  }
  .my-project h1 {
    font-size: 5rem;
  }
  .div-footer h3 {
    font-size: 3rem;
  }
  .div-footer h2 {
    font-size: 3rem;
  }
}



